<aside class="left">
    <div class="text">
        <div class="content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Corporis laboriosam nulla voluptate itaque cumque. 
            Debitis inventore, deleniti esse maxime laborum, deserunt pariatur
            cum tenetur quae voluptatem, magni doloribus expedita rem.
        </div>
    </div>
    <footer>
        <a><img  src={{facebook}} alt="facebook"></a>
        <a><img  src={{instagram}} alt="instagram"></a>
        <a><img  src={{twiter}} alt="twiter"></a>
        <a><img  src={{youtube}} alt="youtube"></a>
    </footer>

</aside>
