<main>
    <aside class="left">
        <nav>
            <ul>
                <li>Eventos</li>
                <li>Recomendados</li>
                <li>Mensajes</li>
                <li>Reclamos</li>
            </ul>
        </nav>
        <div class="opciones">

        </div>
    </aside>
    <aside class="right">
        <h1>Información</h1>
        <iframe src="https://www.youtube.com/embed/go9xfLzQa7o"
         title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
         clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </aside>
</main>
